.mainContainer{
    display:flex;width:100vw
}

@media only screen and (max-width: 1300px) {
    .mainContainer {
        display:block;width:100vw;margin-left: 8%;
    }
  }

  @media only screen and (max-width: 1050px) {
    .mainContainer {
        display:block;width:100vw;margin-left: 5%;
    }
  }

  @media only screen and (max-width: 1050px) {
    .mainContainer {
        display:block;width:100vw;
    }
  }

  